* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(67, 67, 67);
}

.icon {
    float: left;
    width: 50px;
    margin-right: 15px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(17, 46, 91);
    color: white;
}

header h1 {
    display: inline-block;
    padding: 6px;
}

header nav li {
    padding: 16px;
}

header li {
    display: inline-block;
    padding: 10px;
}

header nav li a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

header nav li:hover {
    background-color: rgb(56, 100, 165);
}

/* ---------------- */

#destaque {
    background-color: rgb(56, 100, 165);
    text-align: center;
    color: white;
}

/* ---------------- */

#produtos {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    gap: 30px;
    padding: 15px;
}

#produtos article {
    background-color: rgb(38, 37, 75);
    border-radius: 5%;
    color: white;
    text-align: center;
}

#produtos img {
    max-width: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

/* ---------------- */

footer {
    display: flex;
    padding: 10px;
    background-color: rgb(17, 46, 91);
    color: white;
    justify-content: center;
}